body {
    font-family: monospace;
}

section {
    width: 600px;
    border: 1px solid #dd9;
}

#main {
    display: flex;
    justify-content: flex-start;
}

#template {
    display: none;
}

section {
    display: flex;
    flex-direction: column;
}

section > .header {
    padding: 1px;
    display: flex;
    justify-content: space-between;
}

section > .header > .handle {
    flex-grow: 1;
    padding: 1px 4px;
    background-color: buttonface;
    color: buttontext;
    cursor: move;
}

section > .header > .buttons {
    flex-shrink: 0;
}