body {
    font-family: monospace;
}

section {
    width: 600px;
    border: 1px solid #dd9;
}

#main {
    display: flex;
    justify-content: flex-start;
}

#template {
    display: none;
}

section > .header {
    padding: 2px;
}